
.first1{
	width: 100%;
 
}
.container{
	width: 1200px;
	 
 
	margin: 0 auto;
}

.two{
	position: relative;
    padding: 15px 0 0;
    overflow: hidden;
    width: auto;
}
.left{
	position: absolute;
    width: 78px;
    left: 50%;
    margin-left: -696px;
    top: 200px;
    background: #fff;
    z-index: 100;
    text-align: center;
}
.changeheight{
	position: fixed;
	top:112px;
}
.left ul{
	border: 1px solid #d6d6d6;
    border-radius: 3px;
    padding: 5px 7px 0;
    margin-bottom: 5px;
}
.left li{
    display: block;
    padding: 8px 5px;
    height: 20px;
    border-bottom: 1px solid #eaeaea;
}
.left li span{
  display:block;width:32px;height:32px;
  background:#C81623;
  position:absolute;
  top:0;left:0;
  color:#fff;font-size:12px;
  display: none;
}
 /*.list ul li:hover span{display:block; }*/
 .list ul li span.active{color:#C81623;background:#fff;display:block;}
.curr{
	/*position: relative;*/
    z-index: 1;
    /*left: -3px;*/
    margin-top: -1px;
    padding: 8px 8px 10px;
    width: 52px;
    background-color: #f10180;
    border-bottom: 0;
    border-radius: 4px;
    color: #fff;
}
/*轮播图*/
/*#banner{min-width: 1260px;}*/
/*#banner .inner{height: 700px;}*/
/*#banner li{width: 100%;height: 700px;}*/
/*#banner img{width:100%;height: 100%;}*/
#box{ position:relative; width:100%; height:700px;}
#box .bigUl{width: 100%;height: 700px;}
#box img{
    width: 100%;
    height: 700px;
}
#box .prev{ position:absolute; width:40px; height:60px; background:url(../images/jj1.png) no-repeat; z-index:500; top:45%; left:210px; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
#box .next{ position:absolute; width:40px; height:60px; background:url(../images/jj2.png) no-repeat; z-index:500; top:45%; right:210px; opacity:0; filter:alpha(opacity=0);cursor:pointer;}
.bigUl li { position:absolute;width: 100%;}
.numberUl { position:absolute; right:50%; bottom:37px; z-index:400}
.numberUl li{width:24px; height:24px; color: #fff; float:left;  line-height:24px;background:#3b5998; opacity:0.7; margin-left:5px;text-align:center;}
#box .textUl li{ position:absolute; left:20px; bottom:10px; display:none;}
.numberUl li.night{ background:#f10180; color:#fff;}
/*精选/每日新特卖*/
.title{height: 150px;text-align: center;}
.title .title-img{margin-top: 65px;}
.title h3{color: #000;font-size: 20px;font-weight: normal;margin-top: 10px;}
.title .line{height: 1px;background-color: #000;width: 170px;display: inline-block;vertical-align: middle;}
  
#selection ul.first li{width: 380px;height: 500px;}
/*#selection ul li img{width: 100%;height: 100%;}*/
#selection ul.second li:first-child{width: 380px;height: 280px;}
#selection ul li{margin-top: 30px;}
#selection ul.second li{margin-left: 30px;}
/*店铺广告位*/
.ad{width: 100%;height: 287px;margin: 75px 0;position: relative;}
.ad .content{text-align: right;position: absolute;margin:auto;left: 0;top: 0;right: 0;bottom: 0;z-index: 111;}
.ad .content p.store_name{margin-top:93px;height: 54px;line-height: 54px;color: #000;font-size: 25px;padding-right: 10px;}
.ad .content p.enter_store{height: 28px;border:1px solid #000;line-height: 28px;color: #000;font-size: 15px;padding: 0 10px;display: inline-block;margin-top: 20px;margin-right: 15px;*zoom:1;*display:inline;}
.ad .content p.enter_store a{color: #19191a;}

/*首页title*/
.hg_title{width: 100%;height: 418px;
    /*background:url(../images/bg01.jpg) no-repeat;*/
    /*background-size: 100% 100%;*/
    position: relative;
    /**background-image: url('bg01.jpg');*background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg01.jpg',sizingMethod='scale');*/
    margin-top: 170px;
}
.hg_title .person{position: absolute;left: 200px;top: -100px;}
.main{position: relative;}
.img_sort_title{position: absolute;right: 0;top:0;}
.img_sort{position: absolute;right: 0;top:180px;}
.hg_title .floor_des{position: absolute;left: 200px;top: 60px;}
.hg_title .floor_des .name{font-size: 28px;color: #fff;padding: 15px 0;}
.hg_title .floor_des .all{margin-top: 17px;}
.hg_title .floor_des .all a{padding: 5px 10px;color: #fff;border: 1px solid #fff;}
.hg_title .img_list{display: inline-block;}
.hg_title .img_list li{float: left;margin-top: 170px;margin-left: 31px;}
.hg_title .img_list li p{text-align: center;line-height: 35px;color: #000;}


/**/
.brand-list{margin-top: 290px;}
.brand-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    margin-right: 32px;
    width: 580px;
    height: 348px;
    background: #fff;
    *display: inline;
    *zoom: 1;
    /*float: left;*/
}

.brand-item .brand-img {
    width: 580px;
    height: 284px;
}
.brand-item .brand-info {
    position: relative;
    padding: 0 120px 0 10px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
}
.brand-item .brand-discount {
    color: #4d4d4d;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    _width: 100px;
    display: inline-block;
}
.brand-item .brand-discount .salebg2 {
    font-size: 24px;
    color: #f10180;
    margin-right: 3px;
    font-weight: 700;
}
.brand-item .brand-name {
    cursor: pointer;
    font-size: 14px;
    color: #4d4d4d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 230px;
    display: inline-block;
    _width: 230px;
}
.brand-item .brand-time {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 16px;
    line-height: 16px;
    color: #4d4d4d;
    white-space: nowrap;
}
.brand-item .brand-time .time-icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background: url(../images/icon.png) no-repeat -50px 0;
}
.brand-item .brand-time .time-icon, .brand-item .brand-time span {
    display: inline-block;
    vertical-align: top;
}
.J_time_icon i{color: #f10180;font-style: normal;}